{% extends "base.html" %}


{% block content %}

    <section class="section-conten padding-y" style="min-height:84vh">

		<!-- ============================ COMPONENT LOGIN   ================================= -->
		<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
			<div class="card-body">
			<h4 class="card-title mb-4 text-success h2">Sign in</h4>
	            {% include "alert.html" %}

				<form action="{% url 'sign_in' %}" method="POST"> {% csrf_token %}
					<div class="form-group mb-3">
						{% for register_form in signinForm %}
								<div class="form-group mb-2">
									<label for="{{register_form.id_for_label}}">{{register_form.label}}</label><br/>
									{{register_form}} <!-- field -->
								</div> <!-- form-group end.// -->
							{% endfor %}
					</div> <!-- form-group// -->
					

					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Login  </button>
					</div> <!-- form-group// -->    
				</form>
			</div> <!-- card-body.// -->
		</div> <!-- card .// -->

		<p class="text-center mt-4">Don't have account? <a href="{% url 'sign_up' %}">Sign up</a></p>
		<br><br>
		<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


	</section>


{% endblock content %}