{% extends "dashboard/dashboard_base.html" %}

{% block dashboard %}

    

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Home Page</h1>

        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Welcome to Home</h6>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio architecto culpa quaerat reiciendis omnis tenetur, voluptates consequuntur harum officia optio vel sit consequatur inventore? Officia reiciendis deserunt temporibus esse dolorum similique eum illum porro ad repellat voluptas maiores, vero aliquam laborum deleniti aperiam quae eius quidem error beatae ullam expedita laudantium nemo! Adipisci, quidem animi? Quo, accusamus corporis totam sunt quas assumenda dolor sint hic.</p>
            </div>
        </div>
    </div>

{% endblock dashboard %}